@model Category


<div class="container px-5 my-5">
    <form>

        

        <div class="form-floating mb-3">
            <input disabled class=" form-control" name="id" type="text" placeholder="Name" data-sb-validations="required" value="@Model.Id" />
            <label for="name">Name</label>
        </div>

        <div class="form-floating mb-3">
            <input disabled class=" form-control" name="name" type="text" placeholder="Name" data-sb-validations="required" value="@Model.Name" />
            <label for="name">Name</label>

        </div>
       


    </form>





</div>
